						<%= render :partial => "kevin_blog", :collection => @kevin_blogs.reverse%>
						<div class="art-Post">
							<div class="art-Post-tl"></div>
							<div class="art-Post-tr"></div>
							<div class="art-Post-bl"></div>
							<div class="art-Post-br"></div>
							<div class="art-Post-tc"></div>
							<div class="art-Post-bc"></div>
							<div class="art-Post-cl"></div>
							<div class="art-Post-cr"></div>
							<div class="art-Post-cc"></div>
							<div class="art-Post-body">
								<div class="art-Post-inner art-article">
									<div class="art-PostContent">
										<div class="navigation">
											<div class="alignleft"><%= link_to "« Other Entries", root_path%></div>
											<div class="alignright"></div>
											</div>
										</div>
									<div class="cleared"></div>
									</div>
								</div>
						</div>
					
				